@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&display=swap');

:root {
    --bs-body-font-family: 'Arimo', sans-serif;
    --color-green: #b7cbbf;
    --color-brown: #8c886f;
    --color-pink: #f9a799;
    --color-soft-orange: #f4bfad;
    --header: #f5dabd;
    --bg-base: #f7f0e7;
}

.texto-info p {
    font-size: 1.2em;
    line-height: 1.6;
    color: black;
}

strong{
    color: var(--color-brown);
}

.sn-pro-font-header {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}



.section-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.04em;
    color: var(--color-green);
    margin-bottom: 20px;

}

.section-divider {
    height: 1px;
    border: 0;
    background: linear-gradient(to right, transparent, var(--color-brown), transparent);
    margin: 3rem 0 2rem;
}

.section-divider-header {
    height: 2px;
    border: 0;
    background: linear-gradient(to right, transparent, #ffffff, transparent);
    margin: 3rem 0 2rem;
}

.header {
    padding-bottom: 40px;
    color: white;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: oblique;
    transition: opacity 0.2s linear;
}

/* Animación de deslizamiento para el carrusel */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#carruselProducto {
    animation: slideInFromRight 0.8s ease-in-out forwards;
}

#carruselProducto.slide-out {
    animation: slideOutToLeft 0.8s ease-in-out forwards;
}

/* Animación de desfile continuo para carrusel */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

#inicio {
    background-color: var(--bg-base);
    background-image: linear-gradient(135deg,
            var(--bg-base) 0%,
            var(--color-pink) 35%,
            var(--color-soft-orange) 68%,
            var(--header) 100%);
    z-index: 1030
}

body {
    background-color: var(--bg-base);
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Ajuste responsivo para .texto-info */
.texto-info p {
    font-size: clamp(1.1rem, 1vw, 2rem);
    margin-top: 2em;
}

#que-hacemos,
#como-hacemos {
    scroll-margin-top: 90px;
}